@font-face {
    font-family: 'Roboto';
    src: url('../Landingpage_portfolio/fonts/Signika_Negative/static/SignikaNegative-Light.ttf')(".tff");

}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


body {
    padding: 10%;
    padding-top: 1%;
    background-color: rgb(245, 245, 245);
    border-style: solid;
    border-color: rgb(241, 241, 241);
    border-width: 1px;
}


.bod {
padding: 4%;
padding-top: 0%;
    box-sizing: border-box;
    height: fit-content;
    width: 100%;
    word-break: break-word;


    background-color: rgb(255, 255, 255);
}

.contain1 {

    width: 100%;
    height: 50%;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;

}

.cimg {
    width: 50%;
}

.contain2 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    box-sizing: border-box;

}

.text {
    width:auto;
    height: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    color: rgb(70, 70, 70);
    font-weight: bold;
}
h2{
    font-size: 2em;
}



.cimg {

    display: flex;
    justify-content: center;
    width: 50%;
    height: auto;



}

.cimg img {
padding-top: 5;

    width: 25vw;
    height: 25vw;
    margin: 2%;


}

/* IMPLEMENTANDO  MENU */

.menu {
    width: 100%;
    height: 10%;
    background-color: white;
    display: inline-flex;
    border-bottom-style: solid;
    border-bottom-color: rgb(241, 241, 241);

}

.logo {

    width: 25%;
    height: 100%;

}

.logo img {
    width: auto;
    height: 100%;

}

.botones{
   
    width: 100%;
display: inline-flex;
  
}
.botones input{
margin: 2%;
margin-left: 0%;
height: 50px;
padding-inline: 5%;
border-radius: 30px;
border-color: rgb(0, 0, 0);
font-weight: bold;

}
.contactanos{
background-color: black;
color: rgb(199, 199, 199);
}





.mlinks {
    padding-inline: 5%;
    display: flex;
    justify-content: end;
    width: 75%;
    height: 100%;
    align-items: center;
}

.LINKS {

    padding-right: 5%;
    display: inline-flex;

}

.lmenu a {
    font-weight: bold;
    color: rgb(70, 70, 70);

}

.lmenu {

    font-size: 1vw;
    display: flex;
    margin: 5%;
    margin-left: 0%;
}

a {
    text-decoration-line: none;
}

/* Empezando segunda seccion */

.soy {
    padding: 2%;
    border-top-style: solid;
    border-color: rgb(241, 241, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: rgb(70, 70, 70);
}